.bg-1 {
    background-color: #474e5d;
    color: #ffffff;
}
.bg-2 {
    background-color: #f5e8df;
    color: #ffffff;
}
.bg-3 {
    background-color: #ffffff;
    color: #555555;
}
.bg-4 {
    background-color: #5A5A5A;
    color: #5A5A5A;
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    background-color: #5A5A5A;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: white ;
    float: left;

}
.name{
color: white;
text-align: center;


}
.text1{
color: #5A5A5A;


}
.p1{
color: #5A5A5A;

}
footer {
     background-color: #555;
     color: white;
     padding: 15px;
   }
   .p2{
     text-align: center;
   }
.numb{


  text-align: center;
     margin: 25px 0;
}
